body {
    font-family: Arial;
    background: #e3f2fd;
    text-align: center;
    padding-top: 50px;
  }
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 350px;
  }
  
  select, button {
    padding: 10px;
    margin: 15px;
  }
  
  .stats p {
    font-size: 18px;
    margin: 10px 0;
  }
  