body {
  font-family: Arial;
  background: #ffe0e0;
  text-align: center;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
}

button {
  padding: 10px 20px;
  background: #ff4081;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
